{% extends 'base.html' %}

{% block content %}
<h1>A Search Kuang</h1>
<form method="post">
    {{ form.csrf_token }}
    {{ form.search_content }}

    <!--
    <input type='text' id='search_input' autocomplete="off"
           class='form-control' name='mention'
           placeholder="Enter something" data-id>
    {{ form.pull_down_list }}
    -->

    <a href="{{ url_for('search') }}">{{ form.search_button }}</a>

    <p>You can input some words, such as FuDan University, Jay Chou, eg.</p>

    {% include 'search_it.html' %}

</form>
{% endblock %}